:root {
  --main-font-size: 16px;
  --main-length-height: 120%;
  --main-padding: 10px;
  --main-margin: 5px;
  --container-width: 100px;
  --dark-green: rgb(2, 18, 3);
  --white: #fff;
  --main-blue: rgb(0, 0, 255);
  --empty-color: rgb(144,144,144);
}

body {
  background-color: rgb(2, 18, 3);
  color: var(--white);
}

body .header-container,
body .footer-container {
  display: flex;
  justify-content: center;
}

.header-container {
  font-size: calc(var(--main-font-size) + 8px);
  padding: calc(var(--main-padding) + 10px) 0;
}

.main-container {
  display: grid;
  gap: calc(var(--main-padding) * 5);
  place-items: center;
}

.main-container .main-content {
  width: calc(var(--container-width) + 100px);
  height: calc(var(--container-width) + 100px);
  background: rgb(91, 0, 15);
}

.main-button {
  background: var(--main-blue);
  color: var(--white);
  width: calc(var(--container-width) - 30px);
  height: calc(var(--container-width) - 60px);
  border-radius: 6px;
}

.main-button:disabled {
  cursor: not-allowed;
  border: 3px solid red;
}

.footer-container {
  position: static;
  bottom: 0;
  padding: calc(var(--main-padding) + 10px) 0;
  width: 100%;
  background: var(--main-blue);
}

.wrapper {
  display: flex;
  transform: translateX(40vw);
}

@keyframes move-triangle {
  from {
    transform: translateX(40vw);
  }
  to {
    transform: translateX(-40vw);
  }
}

@keyframes reverse-move-triangle {
  from {
    transform: translateX(-40vw);
  }
  to {
    transform: translateX(40vw);
  }
}

.reverse-move {
  animation-name: reverse-move-triangle;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.move {
  animation-name: move-triangle;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.reverse-move {
  animation-name: reverse-move-triangle;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 0 calc(var(--main-padding) + 30px) 0;
}

.empty {
  height: calc(var(--container-width) + 150px);
  width: calc(var(--container-width) + 150px);
  border: 2px dashed ;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--empty-color);
}

.dragging {
  opacity: 0.4;
}

.hovered {
  background: rgb(0, 128, 0);
}